.Hero{
    position: relative;
margin-top: -50px;
background-image: url(/public/assets/HERO.png);
background-size: cover;
height: 110vh;
background-repeat: no-repeat;
width: 100%;
z-index: -1 ;
filter: opacity(100%);
/* filter: blur(5px); */

}

.Herotext .h1>h1{
    position: absolute;
    top: 410px;
    left: 830px;
    color: rgb(243, 243, 243);
    font-weight: bold;
    font-size: 50px;
    z-index: 2;
    /* -webkit-text-stroke: 2px black; 
    -webkit-text-stroke-color: black;  */

}

.Herotext .h3>h1{
    position: absolute;
    top: 550px;
   left: 830px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 60px;
    z-index: 10;
    text-shadow: 2px 2px #e8d9d9;
    
    
}
.Herotext .h2>h1{
    position: absolute;
    top: 480px;
    left: 830px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 50px;
    z-index: 2;
    /* -webkit-text-stroke: 2px black; 
     -webkit-text-stroke-color: black;  */
}

.Herotext .h1>span{
    position: absolute;
    top: 410px;
    right: 700px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 50px;
    z-index: 2;
    
}

.Herotext .h2>span{
    position: absolute;
    top: 480px;
    right: 700px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 50px;
    z-index: 2;
    


}
.Herotext .h3>span{
    position: absolute;
    top: 550px;
   right: 700px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 60px;
    z-index: 2;
    
}

.Herobutton{
    position: absolute;
    color:white ;
    top: 650px;
    left: 820px;
    z-index: 2;
    font-weight: 600;
    background-color: black;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
    -webkit-transition-duration : 0.3s;
    transition-duration: 0.3s; 
    -webkit-transition-property:  transform;
    transition-property:transform;
}
.Herobutton:hover{
    background-color: red;
    /* transition: 0.3s; */
    -webkit-transform : scale(1.1);
    transform: scale(1.1);
}

.join>h1{

    position: absolute;
    top: 174px;
    left: 148px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 75px;
    z-index: 2;
}
.conversation>h2{

    position: absolute;
    top: 258px;
    left: 145px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 75px;
    z-index: 2;
}

.conversation>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    position: absolute;
    top:210px;
    right: 215px;
    z-index: 2;
    font-size: large;
    font-weight:700;
    color: rgb(255, 255, 255);

}
