.smallCards{
    display: flex;
    padding: 4px;
    margin-left: 60px;
    width: 75%;
    margin-top: 60px;
}

.smallCards .btn
{
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color:  rgb(0, 0, 5);
    color: white;
    width: fit-content;
    font-size:small;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration : 0.3s;
    transition-duration: 0.3s; 
    -webkit-transition-property:  transform;
    transition-property:transform;
    margin-top: 50px;
}
.smallCards button:hover{

    -webkit-transform : scale(1.05);
    transform: scale(1.05);
    background-color: black;
}

.card{
    box-shadow:  0 0 10px #b4b4b4;
    -webkit-transition-duration : 0.3s;
    transition: all 0.3s; 
    -webkit-transition-property: box-shadow , transform;
    transition-property: box-shadow , transform;
}

.cardBody{
    width: inherit;
    height: 200px;
}

.HText>h1
{
    font-size: xx-large;
    font-family: "Roboto" , sans-serif;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 50px;
    position: relative;
    width: max-content;

}


.HText>h1::after{
    content: '';
    background:red;
    border-radius: 10px;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 100ms;
}

.HText>h1:hover::after{
    width: 0;
}


.container>h2{
    font-size:50px;
    font-family: "Roboto" , sans-serif;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 50px;
    position: relative;
    width: max-content;
    
}

.container>h2::after{
    content: '';
    background:red;
    border-radius: 10px;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 100ms;
}

.container>h2:hover::after{
    width: 0;
}
