
.searchbar
{
    width: 50%;
    height: 120px;
    text-align: center;
    margin-top: 200px;
}

.searchbar input 
{
 margin: 23px 15px;
 /* padding: 8 10px;    */
 width: 55%;
 padding: 10px;
 border-radius: 30px;
 margin-bottom: 500px;
}
